<ion-view view-title="Partidas">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="list animate-fade-slide-in-right">
            <div class="item item-icon-right" ng-repeat="partida in partidas">
                <a ui-sref="app.info_partida"><h2>{{ partida.esporte }}</h2></a>
                <a ui-sref="app.info_partida"><p>{{ partida.horario }}</p></a>
                
                <div ng-repeat="perfil in partida.perfils" class="display-table">
                    <a ui-sref="app.perfil" class=" avatar-small" style="background-image: url('{{ perfil.imagem }}');"></a>
                </div>
            </div>
            
        </div>
    </ion-content>
</ion-view>
